
.classe1{
    color:rgb(125, 0, 156); 
    font-weight: 100; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.classe2{
    color:rgb(5, 156, 0); 
    font-weight: 100; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}